@import 'variables.scss';
// Services page 
.hero_service {
    height: 100vh;
    background: url(../../../images/render-services.jpeg) no-repeat;
    background-position: center;
    background-size: cover;
}

.service {
    &__button {
        background-color: $color-background;
        color: $color-text;
        cursor: pointer;
        padding: 10px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 14px;
        transition: 0.4s;
      }
      
      .active, &__button:hover {
        background-color: $color-backgroung-card;
        color: $color-accent;

        svg {
          transform: rotate(180deg);
        }
      }
      
      &__drop {
        padding: 0 10px;
        background-color: $color-background;
        color: $color-text;
        max-height: 0;
        overflow: hidden;
        transition: all 0.2s ease-out;
        border-bottom: 2px solid $color-text-alternate;
        line-height: 1.3;
        font-size: 12px;
      }

      svg {
        fill: none;
        transition: all 0.4s ease-in-out;
      }
}
.container {
}
.title {
}


@media (min-width:414px) {  
  .service {

		&__title {
		}

		&__button {
		}

		&__drop {
		}
}
.container {
}
.title {
}

}

@media (min-width:480px) {  
  .service {

		&__title {
		}

		&__button {
		}

		&__drop {
		}
}
.container {
}
.title {
}

}
@media (min-width:768px) {  
  .service {

		&__title {
		}

		&__button {
      padding: 20px;
      font-size: 16px;
		}

		&__drop {
      padding: 0 20px;
      font-size: 14px;
      line-height: 1.5;
		}
}
.container {
}
.title {
}

}

@media (min-width:991px) {  
  .service {

		&__title {
		}

		&__button {
      font-size: 18px;
		}

		&__drop {
      font-size: 16px;
		}
}
.container {
}
.title {
}

}

@media (min-width:1024px) {  
  .service {

		&__title {
		}

		&__button {
		}

		&__drop {
		}
}
.container {
}
.title {
}

}