@import 'variables.scss';
// Services page 
.hero_service {
    height: 100vh;
    background: url(../../../images/render-services.jpeg) no-repeat;
    background-position: center;
    background-size: cover;
}

.service {
    &__button {
        background-color: $color-background;
        color: $color-text;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 20px;
        transition: 0.4s;
      }
      
      .active, &__button:hover {
        background-color: $color-backgroung-card;
        color: $color-accent;
      }
      
      &__drop {
        padding: 0 18px;
        background-color: $color-background;
        color: $color-text;
        max-height: 0;
        overflow: hidden;
        transition: all 0.2s ease-out;
        border-bottom: 2px solid $color-text-alternate;
        line-height: 1.5;
      }
}
.container {
}
.title {
}

@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}