$color-background: #1c1c1c;
$color-background-light: #fff;
$color-backgroung-card: #000;
$color-backgroung-drop: #eee;

$color-accent: #D01B17;

$color-text: #ccc;
$color-text-alternate: #333;

$border-radius: 5px;

$font-main: "Railway", sans-serif;
